In [1]:
import geopandas as gpd

In [2]:
gdf_zonal = gpd.read_file('data/delta/distritos_zonal_stats.gpkg')

In [5]:
gdf_zonal.columns

Index(['ds_codigo', 'ds_subpref', 'ds_cd_sub', 'ds_sigla', 'ds_nome', '2017',
       '2018', '2019', '2020', 'Área Total Construída', 'count_delta',
       'sum_delta', 'std_delta', 'median_delta', 'percentile_25_delta',
       'percentile_75_delta', 'nodata_delta', 'count_2017', 'sum_2017',
       'std_2017', 'median_2017', 'percentile_25_2017', 'percentile_75_2017',
       'nodata_2017', 'acrescimo_lidar_m2', 'taxa_de_informalidade_2017_2020',
       'total_m2_2017', 'metros_informais_2017_2020',
       'informalidade_geral_2020_m2', 'cidade_informal_m2',
       'cidade_total_lidar_m2', 'geometry'],
      dtype='object')

In [8]:
# Metragem total do estoque construído na cidade
estoque_total = gdf_zonal.cidade_total_lidar_m2.sum()
estoque_total

1163489922.6976104

In [24]:
estoque_total / 10**6 # em Km²

1163.4899226976104

In [12]:
# Metragem total cadastro
metragem_total_cadastro = gdf_zonal.loc[:, '2020'].sum()
metragem_total_cadastro

536638515

In [23]:
metragem_total_cadastro / 10**6 # em Km²

536.638515

In [27]:
# Diferenca construida fora do cadastro
diferenca_fora_do_cadastro = (estoque_total - metragem_total_cadastro) 
diferenca_fora_do_cadastro / 10**6

626.8514076976104

In [28]:
# Percentual da cidade que é informal em metros quadrados
diferenca_fora_do_cadastro / estoque_total

0.5387682312230291

In [34]:
# Area de projecao das edificações construidas
area_projecao_construida = gdf_zonal.count_2017.sum() + gdf_zonal.count_delta.sum()
area_projecao_construida / 10**6 # em Km²

493.457976

In [33]:
# Coeficiente de verticalização (X)
estoque_total / area_projecao_construida

2.3578298037229626

In [40]:
# Area de projecao das edificacoes no cadastro
gdf_area_projecao = gpd.read_file('data/delta/IPTU-SP-diferenca-de-Área-Total-Ocupada-2017-ate-2020-por-distritos.gpkg')
area_projecao_cadastro = gdf_area_projecao.loc[:, '2020'].sum()
area_projecao_cadastro / 10**6

229.56394261292442

In [43]:
# Percentual da area de projecao fora do cadastro
diferenca_projecao_fora_do_cadastro = area_projecao_construida - area_projecao_cadastro
diferenca_projecao_fora_do_cadastro / 10**6

263.8940333870756

In [45]:
diferenca_projecao_fora_do_cadastro / area_projecao_construida

0.5347852222923145

In [58]:
gdf_zonal.loc[:, 'percentual_fora_cadastro'] = (gdf_zonal.cidade_total_lidar_m2 - gdf_zonal.loc[:, '2020']) / gdf_zonal.cidade_total_lidar_m2

In [67]:
gdf_zonal.loc[:, ['ds_nome', 'percentual_fora_cadastro']].sort_values(by='percentual_fora_cadastro', ascending=False).head(96).head(20)

              ds_nome  percentual_fora_cadastro
66           MARSILAC                  0.988200
67        PARELHEIROS                  0.935024
65             GRAJAU                  0.886122
61      JARDIM ANGELA                  0.870311
46           IGUATEMI                  0.838257
78           PEDREIRA                  0.829657
70         ANHANGUERA                  0.827529
45         SAO RAFAEL                  0.826193
69              PERUS                  0.811614
68  CIDADE TIRADENTES                  0.768008
3         BRASILANDIA                  0.762571
20            LAJEADO                  0.746222
19         GUAIANASES                  0.737128
59      CAPAO REDONDO                  0.735168
2             JARAGUA                  0.733904
18     ITAIM PAULISTA                  0.726386
93    PARQUE DO CARMO                  0.718825
81           TREMEMBE                  0.718009
64       CIDADE DUTRA                  0.714734
91      JARDIM HELENA                  0.705695

In [49]:
gdf_zonal.loc[:, 'coef_verticalidade_LiDAR'] = gdf_zonal.cidade_total_lidar_m2 / (gdf_zonal.count_2017 + gdf_zonal.count_delta)

In [50]:
gdf_zonal.columns

Index(['ds_codigo', 'ds_subpref', 'ds_cd_sub', 'ds_sigla', 'ds_nome', '2017',
       '2018', '2019', '2020', 'Área Total Construída', 'count_delta',
       'sum_delta', 'std_delta', 'median_delta', 'percentile_25_delta',
       'percentile_75_delta', 'nodata_delta', 'count_2017', 'sum_2017',
       'std_2017', 'median_2017', 'percentile_25_2017', 'percentile_75_2017',
       'nodata_2017', 'acrescimo_lidar_m2', 'taxa_de_informalidade_2017_2020',
       'total_m2_2017', 'metros_informais_2017_2020',
       'informalidade_geral_2020_m2', 'cidade_informal_m2',
       'cidade_total_lidar_m2', 'geometry', 'coef_verticalidade_LiDAR'],
      dtype='object')

In [55]:
gdf_zonal.loc[:, ['ds_nome', 'coef_verticalidade_LiDAR']].sort_values(by='coef_verticalidade_LiDAR')

            ds_nome  coef_verticalidade_LiDAR
66         MARSILAC                  1.158984
67      PARELHEIROS                  1.468247
91    JARDIM HELENA                  1.694983
65           GRAJAU                  1.763751
90       SAO MIGUEL                  1.786862
..              ...                       ...
57  JARDIM PAULISTA                  5.290011
33       CONSOLACAO                  5.852006
30       BELA VISTA                  6.226999
29               SE                  6.704575
27        REPUBLICA                  7.684586

[96 rows x 2 columns]

In [71]:
gdf_zonal.loc[:, ['ds_nome', 'cidade_total_lidar_m2']].sort_values(by='cidade_total_lidar_m2', ascending=False).head(20)

            ds_nome  cidade_total_lidar_m2
65           GRAJAU           2.628661e+07
56       ITAIM BIBI           2.462114e+07
85      SANTO AMARO           2.158330e+07
61    JARDIM ANGELA           2.049246e+07
77     VILA MARIANA           2.025126e+07
88        JABAQUARA           1.906540e+07
72           SACOMA           1.895264e+07
71        SAPOPEMBA           1.852412e+07
57  JARDIM PAULISTA           1.841587e+07
62  JARDIM SAO LUIS           1.831341e+07
83          SANTANA           1.821517e+07
95         ITAQUERA           1.734972e+07
59    CAPAO REDONDO           1.726411e+07
79    CIDADE ADEMAR           1.709912e+07
74         IPIRANGA           1.662258e+07
81         TREMEMBE           1.618863e+07
76            SAUDE           1.597053e+07
3       BRASILANDIA           1.582275e+07
64     CIDADE DUTRA           1.563754e+07
75            MOEMA           1.563609e+07

In [72]:
gdf_zonal.loc[:, ['ds_nome', 'Área Total Construída']].sort_values(by='Área Total Construída', ascending=False).head(20)

            ds_nome  Área Total Construída
2           JARAGUA                 702810
56       ITAIM BIBI                 639446
85      SANTO AMARO                 622291
94   JOSE BONIFACIO                 577735
60     VILA ANDRADE                 486629
21      BARRA FUNDA                 432502
37          TATUAPE                 406547
95         ITAQUERA                 401234
62  JARDIM SAO LUIS                 345895
54        PINHEIROS                 344488
76            SAUDE                 315130
77     VILA MARIANA                 297994
25             LAPA                 267929
81         TREMEMBE                 257593
44       SAO MATEUS                 251314
75            MOEMA                 249580
12            PENHA                 245479
28    SANTA CECILIA                 244665
58      CAMPO LIMPO                 239128
41           CARRAO                 234392

In [75]:
gdf_zonal.loc[:, "densidade_construtiva"] = gdf_zonal.cidade_total_lidar_m2 / (gdf_zonal.area)

In [76]:
gdf_zonal.loc[:, ["densidade_construtiva", "coef_verticalidade_LiDAR", "percentual_fora_cadastro"]].corr()

,densidade_construtiva,coef_verticalidade_LiDAR,percentual_fora_cadastro
densidade_construtiva,1.000000,0.900387,-0.760075
coef_verticalidade_LiDAR,0.900387,1.000000,-0.731429
percentual_fora_cadastro,-0.760075,-0.731429,1.000000

In [79]:
# Coeficiente de taxa de ocupação do solo
gdf_zonal.loc[:, 'coeficiente_de_ocupacao'] = (gdf_zonal.count_2017 + gdf_zonal.count_delta) / gdf_zonal.area

In [80]:
gdf_zonal.loc[:, ['ds_nome', 'coeficiente_de_ocupacao']].sort_values(by='coeficiente_de_ocupacao', ascending=False).head(20)

           ds_nome  coeficiente_de_ocupacao
79   CIDADE ADEMAR                 0.699029
40            BRAS                 0.696701
38       AGUA RASA                 0.684573
48       SAO LUCAS                 0.663892
15      PONTE RASA                 0.661682
71       SAPOPEMBA                 0.660064
10   VILA MEDEIROS                 0.659677
20         LAJEADO                 0.648341
43      ARICANDUVA                 0.642731
42    VILA FORMOSA                 0.637161
14    VILA MATILDE                 0.636033
59   CAPAO REDONDO                 0.634530
18  ITAIM PAULISTA                 0.634227
12           PENHA                 0.624723
17     VILA CURUCA                 0.623210
76           SAUDE                 0.622952
35           MOOCA                 0.620140
30      BELA VISTA                 0.610298
7            LIMAO                 0.608699
28   SANTA CECILIA                 0.608595

In [81]:
gdf_zonal.columns

Index(['ds_codigo', 'ds_subpref', 'ds_cd_sub', 'ds_sigla', 'ds_nome', '2017',
       '2018', '2019', '2020', 'Área Total Construída', 'count_delta',
       'sum_delta', 'std_delta', 'median_delta', 'percentile_25_delta',
       'percentile_75_delta', 'nodata_delta', 'count_2017', 'sum_2017',
       'std_2017', 'median_2017', 'percentile_25_2017', 'percentile_75_2017',
       'nodata_2017', 'acrescimo_lidar_m2', 'taxa_de_informalidade_2017_2020',
       'total_m2_2017', 'metros_informais_2017_2020',
       'informalidade_geral_2020_m2', 'cidade_informal_m2',
       'cidade_total_lidar_m2', 'geometry', 'coef_verticalidade_LiDAR',
       'percentual_fora_cadastro', 'densidade_construtiva',
       'coeficiente_de_ocupacao'],
      dtype='object')

In [82]:
gdf_zonal.loc[:, 'coeficiente_de_construcao'] = (gdf_zonal.cidade_total_lidar_m2) / gdf_zonal.area

In [84]:
gdf_zonal.loc[:, ['ds_nome', 'coeficiente_de_construcao']].sort_values(by='coeficiente_de_construcao', ascending=False).head(60)

            ds_nome  coeficiente_de_construcao
27        REPUBLICA                   4.332205
30       BELA VISTA                   3.800323
29               SE                   3.301342
57  JARDIM PAULISTA                   2.976984
33       CONSOLACAO                   2.866883
28    SANTA CECILIA                   2.826780
56       ITAIM BIBI                   2.455820
34        LIBERDADE                   2.453675
40             BRAS                   2.392250
77     VILA MARIANA                   2.355666
22         PERDIZES                   2.167423
54        PINHEIROS                   1.875584
35            MOOCA                   1.815795
32          CAMBUCI                   1.768423
36             PARI                   1.761245
37          TATUAPE                   1.755450
75            MOEMA                   1.722284
76            SAUDE                   1.716135
21      BARRA FUNDA                   1.639019
31       BOM RETIRO                   1.638868
39            BELEM                   1.571781
42     VILA FORMOSA                   1.539192
38        AGUA RASA                   1.538645
74         IPIRANGA                   1.510547
60     VILA ANDRADE                   1.446017
25             LAPA                   1.441244
48        SAO LUCAS                   1.403227
83          SANTANA                   1.391508
79    CIDADE ADEMAR                   1.385478
41           CARRAO                   1.364173
88        JABAQUARA                   1.361039
87       CAMPO BELO                   1.360409
71        SAPOPEMBA                   1.359666
47    VILA PRUDENTE                   1.350986
85      SANTO AMARO                   1.345984
10    VILA MEDEIROS                   1.338981
7             LIMAO                   1.313982
5        CASA VERDE                   1.311040
8    VILA GUILHERME                   1.302742
72           SACOMA                   1.301894
23  VILA LEOPOLDINA                   1.282697
12            PENHA                   1.279061
43       ARICANDUVA                   1.278033
14     VILA MATILDE                   1.272158
59    CAPAO REDONDO                   1.253863
51       VILA SONIA                   1.223121
84         TUCURUVI                   1.217707
15       PONTE RASA                   1.214214
20          LAJEADO                   1.211985
4    FREGUESIA DO O                   1.199655
9        VILA MARIA                   1.196424
18   ITAIM PAULISTA                   1.179145
95         ITAQUERA                   1.178577
89       VILA JACUI                   1.162892
58      CAMPO LIMPO                   1.159749
86     CAMPO GRANDE                   1.134746
11      ARTUR ALVIM                   1.128137
17      VILA CURUCA                   1.122872
92     CIDADE LIDER                   1.111326
80           JACANA                   1.107036